
/*Hoja de estilos css*/

*{
    box-sizing: border-box;
}
.mainContainer{
display: grid;
min-height: 120vh;
width: 100%;

/*propiedades grid*/
grid-template-columns: 1fr;
grid-template-rows: 6em 1fr 3em;

/*fondo de la pagina*/
background-image: url(../assets/images/main2_bg.jpg);
background-repeat: no-repeat;
background-size: 100% 100% ;

}
/*media para pantallas anchas*/
@media(min-width : 800px) {
    .mainContainer{
        background-image: url(../assets/images/main_bg.jpg);
    }
    .iconContainer{
        height: 30vh;
        /*background-color: rgb(52, 5, 97);*/
    }
   
}
.header{
  /*estilos*/
   background-color: rgba( 0, 0, 0, .7);
   box-shadow: 2px 2px 3px rgb(63, 60, 60),3px 3px 4px rgb(75, 70, 70) ;

   /*grid*/
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /*sticky*/
    position: sticky;
    top: 0px;
    z-index: 20;
}
.header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(241, 240, 233);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.main{
    
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    grid-gap: 2em;
    justify-content:  center;
    align-content: center;

    padding: 2em;
}

.footer{
    grid-row: 3 / 4;
    background-color: rgba( 0, 0, 0, .75);
    display: flex;
    justify-content: center;
}
.iconContainer{
    height: 20vh;
    /*flex*/
   display: flex;
   justify-content: center;
   align-items: center;
}
.iconContainer:hover{
    
   background-color: rgba(196, 180, 190, 0.2);
   border-radius: 10%;
}

/*texto de las imagenes*/
.iconContainer p{
    margin-left: 0.1em;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
}

.main_img{
    border-radius: 50%;
    width: 85%;
    border: 0.1em solid rgb(173, 155, 155);
    box-shadow: 2px 2px 3px rgb(63, 60, 60),3px 3px 4px rgb(75, 70, 70) ;
}
.main_img:hover{
    width: 90%;
    box-shadow: 2px 2px 3px rgb(41, 40, 40),3px 3px 4px rgb(53, 50, 50) ;
}
sup{
    font-size: 0.5em;
    padding: 0.5em;
    font-style: italic;
    font-weight: 300;
    color: goldenrod;
}
.iconContainer p:hover{
    color: goldenrod;
}
.iconContainer a{
    display:flex;
    justify-content: center;
    
    width: 60%;
        border-radius:50% ;

}
.iconContainer .quizz{
    display:flex;
    justify-content: center;
    
    width: 100%;
        border-radius:50% ;

}
